
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  display:flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 6% auto;
  padding:2%;
  width:50%;
  background-color: white;
  color: rgb(134, 126, 251);
  
}
h1{
  margin-bottom: 3%;
}

.btn{
  align-self: flex-end;
  width:15%;
  background-color: rgb(134, 126, 251);
  color:white;
}
i{
  font-size: 2rem;
  align-self: flex-start;
}
